/* *common css starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h5,p,span,a,hr,ul,li{
    margin: 0;
    padding: 0;
}

:root{
    --Primary-Font : 'Plus Jakarta Sans', sans-serif;
    --secondary-Font :'Roboto', sans-serif;
    --third-Font :'Poppins', sans-serif;
     /* *common Color */
    --white : #FFFFFF;
    --black : #000000;
    /* *text-icons color */
    --main_text_color :#030712;
    --gray_text :#D1D5DB;
    --post_icon_text : #6B7280;
    --border_color : #E5E7EB;
    --btn_blue_color :  #3B82F6;
    --btn-color: #4580F0;
    --btn-color-d:#ECF2FE;
    --text-request : #808080;
    --active-search :#F9F9F9;
    --join-color :#D9D9D9;
    /* *theme color */
    --Main_color : #1D4ED8;
    --Main_hover_color : #DBEAFE;
    /* *active icon color */
    --activeIconColor :#34D399;
    --secondaryActive :#82C43C;
    --thirdActiveIcon :#20D234;
    /* *search icon */
    --searchIcon :#9CA3AF;
    --searchInput : #EFF6FF;
    --gearIcon :#F3F4F6;

    /* *upcoming event */
    --gray-event :#374151;
    /* *body backgroud color */
    --bgColor : #F9FBFF;
    /* *like-comment border */
    --border-like :#00000033;

    /* *active section */
    --active-head :#92929D;
    --active-userN : #171725;
    /* *chat-btn */
    --chat-btn-1:#60A5FA;
    /* *end-call */
    --join-call :#E0E3EF;
    --end-call:#FC685D;
    --video-text:#202020;
}

body{
    font-family: var('Plus Jakarta Sans', sans-serif);
    background-color: var(--bgColor);
}
.line{
    border: 1px solid var(--gray_text);
}

.common-heading{
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
}
.border{
    border: 1px solid var(--gray_text);
    border-radius: 20px;
}
.btn-common{
    padding: 10px 40px;
    background-color: var(--btn_blue_color);
    border-radius: 20px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
}
.active-overlay{
    width: 8.065px;
    height: 8.065px;
    border-radius: 50%;
    line-height:8.065px ;
    display: block;
    background-color: var(--secondaryActive);
    margin-left: 20px;
}

.btn-dismiss{
    width: 101px;
    height: 46px;
    border-radius: 8px;
    background-color: var(--btn-color-d) ;
    display: inline-block;
    color: var(--btn-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    text-align: center;
    line-height: 46px;
}
.btn-common-2{
    width: 109px;
    height: 46px;
    border-radius: 8px;
    background: var(--btn-color);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
}
.common-icon{
    font-size: 24px;
    color: var(--searchIcon);
    width: 50px;
    height:50px;
    border-radius: 13.636px;
    background-color: var(--gearIcon);
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
.common-icon-radius{
    border-radius: 20px;
}
/* *common css ends here */



/* *Nav section starts here */
.navbar{
    padding: 15px 0 20px 0;
    background-color: var(--white);
    box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, 0.10);
}
.navbar .navLogo{
    text-align: center;

}

#customNav ul li{
    padding: 0 20px;
    display: inline-block;
}
#customNav ul li a{
    font-size: 26px;
    color: var(--black );
    font-weight: 400;
    padding: 14px 14px;
    line-height: 14px;
    border-radius: 13.55px;

}
#customNav ul li a:hover{
    color: var( --Main_color);
    background-color: var(--Main_hover_color);
    display: inline-block;
    text-align: center;
}
nav .nav-icons{
    text-align: center;
}
nav .nav-icons ul li{
    display: inline-block;
    padding: 0 8.5px;
}
nav .nav-icons ul li a{
    font-size: 26px;
    font-weight: 400;
    color: var(--black);
}
nav .nav-icons ul li a .overlay{
    position: absolute;
    top: 23px;
    right: 4px;
    border: 3px solid var(--white);
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:var(--activeIconColor) ;
}
.user{
    position: relative;
}
/* nav .nav-icons ul li a:last-child{
    
} */
/* *Nav section ends here */

/* *Home page section starts here */
#home{
    padding: 20px 0;
    
}
.search-section{
    padding-left: 10px;
    padding-right: 10px;
}
.home-section .search-section{
   position: relative;
   background-color: var(--white);
}
.search{
    margin: 19px 0;
}
.search .icon{
    position: relative;
}

.search .icon .search-icon{
    font-size: 24px;
    color: var(--searchIcon);
    position: absolute;
    top: 3px;
    left: 0;
    padding-left: 11px ;
    z-index: 1;
}
/* .search-bar{
    position: fixed;
} */
.search .search-bar{
    width: 280px ;
    height : 44px;
    position: absolute;
    display: inline-block;
}
.search .search-bar input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--searchInput);
    border: none;
    padding-left: 40px;
    position: relative;
}
.search-bar input:focus{
    outline: none;
}

/* *friends section */
.friends-section{
    padding: 20px 0 0 0;
}
.friends{
    padding: 10px 0;
    border-radius: 20px;
    cursor: pointer;
}

.friends ul li img{
   width: 30px;
   height: 30px;

}
.friends ul li{
    margin-bottom: 15px;
}
.friends ul li a{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    color: var(--black);
    align-items: center;
}
.friends ul li span{
    padding-right: 15px;
}
/* *community section */
.community,.upcomingEvent{
    padding: 15px 0;
}
.community_heading .heading-end .common-heading{
    padding: 6px 6px;
    display: inline-block;
    border-radius: 4px;
    background: var(--border_color);
    margin-left: 30px;
}
.community-des,.community-des{
    padding: 15px 0 0 20px;
}
.community_descrip{
    margin-bottom: 10px;
}
.community-des:last-child{
    margin-bottom: 0;
}
.community_descrip .com-title p{
    color: var(--searchIcon);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px; 
}

/* *upcoming event */
.upcomingEvent .upcoming-des{
    padding: 10px 20px;
    background-color: var(--gray-event );
    display: inline-block;
    border-radius: 10px;
    color: var(--white);
    text-align: center;

}
.upcomingEvent .upcoming-des span{
    color: var(--post_icon_text);
    display: block;
    text-transform: capitalize;
}

/* *POST sections */
.home_post,.your-post{
    margin-bottom: 20px;
}
.home_post,.create{
    padding: 20px 20px;
    background-color: var(--white);
    border-radius: 20px
}
.home_post .addPost{
   padding-bottom: 10px;

}
.addPost .post_input{
        width: 550px;
        margin-left: -42px;
}
.addPost .post_input input{
    width: 100%;
    border: 1px solid var(--border_color);
    border-radius: 20px;
    padding: 10px 355px 10px 15px;
}
.post_input input::placeholder{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--gray_text);
}
.post_input input:focus{
   outline: none;
}
.post .post_icons ul {
    margin-left: 13px;
}
.post .post_icons ul li{
    display: inline-block;
    padding: 0 6px;
}
.post .post_icons ul li a{
    font-size: 24px;
    color: var(--post_icon_text);
}
.post_btn .btn-common{
    margin-left: -38px;
}

.post-user{
    padding-bottom: 25px;
}
.user-title a,.user-title p{
    padding-left: 10px;
}
.user-title a span{
    color: var(--post_icon_text);
}
.user-title p{
    color: var(--main_text_color);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; 

}
.post-section .post-img{
    padding-bottom: 10px;
}
.post-section .post-img img{
    width: 100%;
}
.like-comment{
    border-top: 1.263px solid var(--border-like);
    border-bottom: 1.263px solid var(--border-like);
    padding: 12px 31px;

}

.like-comment ul li{
   display: inline-block;
}
.like-comment ul li a{
    color: var(--black);
    font-size: 19.242px;
    font-weight: 500;
    line-height: 22.449px;
}
.like-comment ul li a span{
    padding-left: 3px;
    font-size: 14.432px;
}
.like-comment .comment{
    text-align: center;
}
.like-comment .share{
    text-align: right;
}

/* *active section starts here */
.active-des h5{
    color: var(--active-head);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px; 
    padding: 8px 0;
}
.active {
    padding: 10px 0;
}
/* .active .active-pro{
    position: relative;
    width: 25.808px;
    height: 25.808px;
} */
.active .active-pro img{
    width: 100%;

}
/* .active-pro span::before{
    content: '';
    position: absolute;
    inset: -5px;
    border: 2px solid var(--fifthColor);
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
    background-color: red;
} */
.active-user a{
    color: var(--active-userN);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.active-mint p{
    color: #92929D;
    text-align: right;
    font-family: var(--secondary-Font);
    font-size: 9.678px;
    font-weight: 400;
    line-height: 17.743px;
}
.active-search{
    margin-top: 80px;
    position: relative;
}
.active-search .ac-searchIcon{
    font-size: 24px;
    color: var(--gray_text);
    position: absolute;
    left: 31px;
    top: 6px;
}
.active-search .ser-input{
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    padding-left: 62px;
    box-shadow: 0px 0.80651px 0px 0px #E2E2EA inset;
    background-color: transparent;
}
/* *home page section ends here */






/* *add friend page starts here */
.friends-add{
    padding: 20px 20px;
    background-color: var(--white);
}
.homeFD-section{
        padding: 70px 0 0 0;
}
.friend-list{
    padding-bottom: 22px;
   
}
.friend-title{
    padding-bottom: 20px;
}
.friend-title .common-heading{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.friend-options{
    padding: 0 15px;
}
.friend-options ul li{
    margin-bottom: 25px;
    cursor: pointer;
}
.friend-options ul li span{
    font-size: 24px;
    color: var(--black);
    padding-right: 20px;
}
.friend-options ul li a{
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-left: -15px;
}
.friend-icon .common-icon{
    border-radius: 20px;
}
/* *section 2 */
.fd-request,.sugges-request{
    padding: 30px 40px 20px 20px;
    background-color: var(--white);
}
.fd-request .common-heading,.sugges-request .common-heading{
    padding-bottom: 40px;
}
.sugges-request{
    margin-top: 20px;
}
.fd-request-des{
    padding-bottom: 25px;
}
.fd-request-des:last-child{
    padding-bottom: 0;
}
.res-title{
    margin-left: -19px;
}
.res-title a{
    color: var(--black);
    font-family: var(--third-Font);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.res-title p{
    color: var(--text-request);
    font-family: var(--third-Font);
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
    padding-top: 10px;
}
.button{
    text-align: right;
}

.res-description .btn-common-2{
    margin-left: 20px;
}


/* *section 3 */
.community-input{
    position: relative;
    padding: 10px 0 20px 0;
}

.community-input span{
    font-size: 16px;
    color: var(--gray_text);
    position: absolute;
    top: 20px;
    left: 20px;
}
.community-input .commu-input{
    width: 269.795px;
    height: 40.721px;
    flex-shrink: 0;
    border-radius: 6.265px;
    background-color: var(--active-search);
    padding: 11px 20px 12px 41px;
    outline: none;
    border: none;
    border-radius: 6.265px;
}
.community-input input::placeholder{
    color: var(--gray_text);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; 
}
.join-heading{
    color: var(--black);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding: 10px 0 20px 0;
}
.join-pro img{
    width: 100%;
}
.join-title a,.trend-title a{
    color: var(--black);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    display: block;
}
.join-title p{
    color: var(--text-request);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
.join-title p::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--join-color);
    top: 7px;
    left: -3px;
    position: absolute;
}
.join-descrip,.trending-des{
    padding-bottom: 20px;
}
.join-btn .btn-dismiss{
    width: 47.041px;
    height: 25.842px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.842px;
    border-radius: 3.132px;
}
.trend-title p{
    color: var(--text-request);
    font-size: 9px;
    font-weight: 400;
    line-height: 18px;
}
/* *add friend page ends here */


/* *chat section starts here */
#chat_section{
    padding: 20px 0;
}
.chat-list{
    padding: 30px 30px 30px 10px;
    background-color: var(--white);
}
.chat-icons{
    text-align: right;
}
.chat-icons ul li{
    display: inline-block;
}
.chat-icons ul li:last-child{
    padding-left: 5px;
}
.chat-icons .common-icon{
    font-size: 16px;
    color:var(--black);
}
.chat-search .search-bar input{
    border: 1px solid var(--searchIcon);
    background-color: var(--white);
}
.chat-search .icon .search-icon{
    color: var(--black);
}
.chat-button{
    padding-top: 50px;
    margin-bottom: 15px;
}
.chat-button ul li{
    display: inline-block;
}
.btn-chat{
    padding: 8px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--chat-btn-1);
    color: var(--Main_color);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    transition: .3s;

}
.btn-chat:hover{
    background: var(--gearIcon);
    color: var(--black);
}
.chat-button ul li a:last-child{
    margin-right: 5px;
}

.single-chat ul li{
    display: inline-block;
}
.single-chat ul li a{
    display: inline-block;
}
.chat-padding{
    padding: 0 10px;
}
.chat-profile{
    padding: 20px 20px 30px 20px;
    background-color: var(--white);
}
.chat-details{
    text-align: center;
    position: relative;
}
.chat-details::before{
    content: '';
    width: 17.109px;
    height: 17.109px;
    background-color: var(--thirdActiveIcon);
    left: 147px;
    top: 56px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--white);
}
.chat-details img{
    width: 70px;
    height: 70px;
}
.chat-details h3,.main-chat-title h3{
    color: var(--video-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding: 10px 0 2px 0;
}
.chat-details p,.main-chat-title p{
    color: var(--text-request);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.chat-settings .common-icon{
    margin: 0 10px;
}
.chat-settings{
    text-align: center;
    padding: 10px 0 15px 0;
}
.chat-border{
    background-color: var(--white);
}
.main-chat{
    padding: 15px 15px 15px 30px;
    align-items: center;
    
}
.main-chat-title h3{
    padding: 0 0 5px 0;
    margin-right: 20px;
}
.main-chat-title p{
    font-size: 18px;
    padding-right: 20px;
}
.main-chat-title{
  padding-left: 36px;
}
.main-chat-pro{
    text-align: center;
    position: relative;
}
.main-chat-pro img{
    text-align: center;
    width: 60px;
}
.main-chat-pro::before{
    content: '';
    width: 17.109px;
    height: 17.109px;
    background-color: var(--thirdActiveIcon);
    left: 57px;
    top: 43px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--white);
}
.main-chat-icon span{
    font-size: 24px;
    color: var(--black);
    padding: 0 5.5px;
}
/* *chat section ends here */



/* *video call section starts here */
#groupvideoCall{
    padding: 20px 0;
}
.vd-icon .common-icon,.end-call .common-icon{
    border-radius: 20px;
}
.video-profile{
    border-radius: 20px;
    background: var(--join-color);
    text-align: center;
    /* justify-content: center; */
    line-height: 223px;
}
.video-profile img{
    width: 79px;
    height: 79px;
}
.video-detail{
    padding: 15px 15px;
}
.vDcalls{
    padding: 20px 20px 30px 20px;
}
.vd-icon{
    text-align: right;
}
.video-link{
    padding: 100px 240px;
}
.end-call ul li{
    display: inline-block;
    padding: 0 5px;
}
.end-call {
    text-align: center;
}
.end-call .common-icon{
    color: var(--join-call);
}
.end-call .btn-common-2{
    border-radius: 20px;
    background: var(--end-call) ;
}
/* *video Call section ends here */


/* *individual section starts here */
.indi-pro{
    text-align: left;
}
.indi-pic img{
    width: 100%;
}
.indi-info a{
    color: var(--video-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.indi-info p{
    color: var(--text-request);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.indIcons{
    padding-bottom: 600px;
}
/* *individual section ends here */

/* ***************************** EVENT HOME PAGE START *****************************  */
@import url(./event-time.css);
/* *************************** EVENT HOME PAGE END ***************************** */